/* Variables */
:root {
  --main-color: #00afdb;
  --main-dark-color: #009cc2;

  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-light-s: #fafafa;
  --color-light-xl: #fff;
  --color-light-l: #f6f6f6;
  --color-dark-m: #b2b2b2;
  --color-dark-3xl: #292929;
  --color-dark-s: #cdcdcd;
}
